---
layout: home
title: Entwicklungsreport 2021
---

<div>
    <div class="pa5 w-100 bg-contrast" id="cover-splash">
        <h1 class="f1 big-shoulders ttu tc b txt-color-secondary" id="headline-top">Hype</h1>
        <h1 class="f3 f2-ns erif tc normal txt-color-secondary" id="headline-bottom">A <span class="i">critical</span> Field Guide</h1>
    </div>
    <div class="w-100 pa4 pt3 pb7">
        <ol class="center">
            {% for article in site.content %}
                <li class="mb3 mono f6"><a href="{{site.url}}/{{article.url}}" class="txt-color link">{{ article.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>

{% include script.html %}