---
layout: default
---
{% include contents.html %}
{% include next-previous-article.html %}
<div class="mt6 flex flex-wrap">
    <div class="w-70-ns w-100 center">
        <article class="f3-ns f4 mt5 mb6 center pa3" id="content">
            <section class="f4-ns f5 mb5 txt-color w-100 lh-copy measure-wide center">
                <h2 class="big-shoulders ttu f1" id="{{title | replace: " ", "_" }}">{{page.title}}</h2>
                {% if page.subtitle %}
                    <div class="article-subtitle ma0 mr4 ml4 mr5-ns ml5-ns mt4">
                        {{page.subtitle | markdownify}}
                    </div>
                {% endif %}
                {{content}}
            </section>
        </article>
    </div>
</div>
